# Data Dive 2

In [2]:
# Imports

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error,mean_absolute_percentage_error

from numpy import arange

from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso

In [3]:
df= pd.read_csv('credit_card_complaints.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17433 entries, 0 to 17432
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date_received                 17433 non-null  int64
 1   product                       17433 non-null  object
 2   sub_product                   0 non-null      float64
 3   issue                         17433 non-null  object
 4   sub_issue                     0 non-null      float64
 5   consumer_complaint_narrative  17433 non-null  object
 6   company_public_response       8963 non-null   object
 7   company                       17433 non-null  object
 8   state                         17379 non-null  object
 9   zip_code                      17379 non-null  object
 10  tags                          2808 non-null   object
 11  consumer_consent_provided     17433 non-null  object
 12  submitted_via                 17433 non-null  object
 13  date_sent_to_company          17433 non-null  int64
 14  company_response_to_consumer  17433 non-null  object
 15  timely_response               17433 non-null  bool
 16  consumer_disputed             16558 non-null  object
 17  complaint_id                  17433 non-null  int64
dtypes: bool(1), float64(2), int64(3), object(12)
memory usage: 2.3+ MB

In [5]:
df.describe()

,date_received,sub_product,sub_issue,date_sent_to_company,complaint_id
count,17433.000000,0.0,0.0,17433.000000,1.743300e+04
mean,42463.076866,NaN,NaN,42464.511329,1.864532e+06
std,207.296686,NaN,NaN,207.430956,3.117701e+05
min,42082.000000,NaN,NaN,42082.000000,1.290323e+06
25%,42285.000000,NaN,NaN,42285.000000,1.598380e+06
50%,42474.000000,NaN,NaN,42475.000000,1.879286e+06
75%,42643.000000,NaN,NaN,42644.000000,2.139726e+06
max,42829.000000,NaN,NaN,42829.000000,2.418474e+06